@charset "ISO-8859-1";

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 180px;
  /* must be same height as the footer */
}

#headermenu {
	display: table;
}

#headermenu div {
	display: table-cell;
	padding-right: 20px;
}

a:link {
	color: cornflowerBlue;
	text-decoration: none;
}

a:visited {
	color: indigo;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

a:active {
	color: red;
}

#headermenu a:link {
	font-size: larger;
}

.pageheading {
	color: darkblue;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

table.normal {
	border: 0;
}

th, td {
	padding: 8px;
}

th {
	background: darkblue;
	color: cornsilk;
	font-size: larger;f
}

table.form {
	border: 0;
	padding: 4px;
}

.table-list {
	width: 80%;
}

button {
	padding: 6px;
	border-radius: 5px;
}

button[type=submit] {
	font-weight: bold;
}

button:hover {
	background-color: white;
	color: green;
}

input {
	border: 1px solid;
	border-radius: 4px;
	border-color: green;
	height: 20px;
}

.message {
	font-style: italic;
	color: blue;
}

.error {
	color: red;
	font-style: italic;
	margin: 5px;
}

#footer {
  position: relative;
  margin-top: -180px;
  /* negative value of footer height */
  height: 180px;
  clear: both;
  text-align: center;
}

.center {
	text-align: center;
}

table.book {
	width: 80%;
	margin: 0 auto;
	border: 0;	
}

table.customer {
	margin: 0 auto;
	border: 0;	
}

div.book {
	display: inline-block;
	margin: 20px;
	text-align: center;	
}

.book_group {
	width: 80%;
	margin: 0 auto;
}

.next_row {
	clear: both;
}

img.book_small{
	width: 128px; 
	height: 164px;
}

img.book_large{
	width: 240px; 
	height: 300px;
}

#book_title {
	font-size: x-large;
	font-weight: bold;
}

#author {
	font-size: large;
	font-style: italic;
}

#description {
	text-align: justify;
	vertical-align: top;
}

#search_image {
	display: inline-block; 
	margin: 20px; 
	width: 10%;
}

#search_description {
	display: inline-block; 
	margin: 20px; 
	vertical-align: top; 
	width: 60%;
	text-align: left;
}

#search_price {
	display: inline-block;
	margin: 20px; 
	vertical-align: top;
}





















